/*.form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 600px;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form h2 {
    max-width: 100%;
}

.form label {
  display: block;
}

.form input,
.form select,
.form textarea {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 8px 12px;
  font-size: 1rem;
  cursor: pointer;
}
